/.env
/node_modules
/.DS_Store
/logs/*.log
/logs/*.json
/.diff
/tmp
/.idea
/logs
docs
out
/.DS_Store
/scripts/.DS_Store
/scripts/seeders/.DS_Store
/.nyc_output
/coverage
/uploads
/pdf
/*.pdf
.env.preproduction
.env.production